In [5]:

list2 = list(range(1,101))

odd = list(filter(lambda x: x%2 == 1, list2))
print("odd")
print(odd)

#Display even numbers
even = list(filter(lambda x: x%2 == 0, list2))
print("even")
print(even)

odd
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
even
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [8]:
import pandas as pd
import random
random.shuffle(odd)
print(odd)

random.shuffle(even)
print(even)

arr2 = []
for i, j in zip(odd, even):
    arr2.append([i, j])
print(arr2)
df = pd.DataFrame(arr2,
                  columns=['odd', 'even'])
print("arr2")
print(arr2)
print("df")
print(df)

df.to_csv(r'/content/drive/My Drive/arr2.csv', encoding = "shift-jis")

[75, 17, 11, 67, 59, 15, 39, 81, 77, 3, 65, 93, 79, 37, 83, 73, 21, 27, 53, 87, 85, 35, 61, 1, 89, 45, 55, 71, 43, 41, 13, 47, 97, 29, 33, 25, 63, 49, 99, 57, 7, 23, 31, 19, 5, 9, 91, 69, 51, 95]
[70, 92, 32, 34, 36, 62, 52, 6, 82, 2, 100, 86, 64, 60, 96, 20, 38, 24, 98, 74, 54, 88, 48, 90, 30, 40, 58, 72, 56, 80, 8, 66, 78, 26, 42, 12, 22, 4, 18, 50, 94, 84, 28, 14, 44, 16, 46, 10, 76, 68]
[[75, 70], [17, 92], [11, 32], [67, 34], [59, 36], [15, 62], [39, 52], [81, 6], [77, 82], [3, 2], [65, 100], [93, 86], [79, 64], [37, 60], [83, 96], [73, 20], [21, 38], [27, 24], [53, 98], [87, 74], [85, 54], [35, 88], [61, 48], [1, 90], [89, 30], [45, 40], [55, 58], [71, 72], [43, 56], [41, 80], [13, 8], [47, 66], [97, 78], [29, 26], [33, 42], [25, 12], [63, 22], [49, 4], [99, 18], [57, 50], [7, 94], [23, 84], [31, 28], [19, 14], [5, 44], [9, 16], [91, 46], [69, 10], [51, 76], [95, 68]]
arr2
[[75, 70], [17, 92], [11, 32], [67, 34], [59, 36], [15, 62], [39, 52], [81, 6], [77, 82], [3, 2], [65, 100], [93, 86], [79, 64], [37, 60], [83, 96], [73, 20], [21, 38], [27, 24], [53, 98], [87, 74], [85, 54], [35, 88], [61, 48], [1, 90], [89, 30], [45, 40], [55, 58], [71, 72], [43, 56], [41, 80], [13, 8], [47, 66], [97, 78], [29, 26], [33, 42], [25, 12], [63, 22], [49, 4], [99, 18], [57, 50], [7, 94], [23, 84], [31, 28], [19, 14], [5, 44], [9, 16], [91, 46], [69, 10], [51, 76], [95, 68]]
df
    odd  even
0    75    70
1    17    92
2    11    32
3    67    34
4    59    36
5    15    62
6    39    52
7    81     6
8    77    82
9     3     2
10   65   100
11   93    86
12   79    64
13   37    60
14   83    96
15   73    20
16   21    38
17   27    24
18   53    98
19   87    74
20   85    54
21   35    88
22   61    48
23    1    90
24   89    30
25   45    40
26   55    58
27   71    72
28   43    56
29   41    80
30   13     8
31   47    66
32   97    78
33   29    26
34   33    42
35   25    12
36   63    22
37   49     4
38   99    18
39   57    50
40    7    94
41   23    84
42   31    28
43   19    14
44    5    44
45    9    16
46   91    46
47   69    10
48   51    76
49   95    68

In [16]:
import codecs
import pandas as pd

with codecs.open(r'/content/drive/My Drive/arr2.csv', "r", "Shift-JIS", "ignore") as file:
    df2 = pd.read_table(file, delimiter=",")

#print(df2)

reader = df2

#Create a dictionary from Pandas
#If you give a value or list/tuple to the character string with the% operator, it can be expanded as follows.
react={}
for row in reader:
        keytxt='%s-%s' % (row[1],row[2])
        keytxt2='%s,waiawawaww,%s' % (row[1],row[2])
        print(keytxt2)
        react[keytxt]=1
        print(react)
print("react")

print(react)

print("keytxt")

print(keytxt)

print("keytxt2")

print(keytxt2)

for sset in arr2:
    k2='%s-%s' % (sset[0],sset[1])
    if react.get(k2):
        print(k2)
print("k2")

print(k2)

n,waiawawaww,n
{'n-n': 1}
d,waiawawaww,d
{'n-n': 1, 'd-d': 1}
v,waiawawaww,e
{'n-n': 1, 'd-d': 1, 'v-e': 1}
react
{'n-n': 1, 'd-d': 1, 'v-e': 1}
keytxt
v-e
keytxt2
v,waiawawaww,e
k2
95-68

In [4]:
import codecs
import pandas as pd

with codecs.open(r'/content/drive/My Drive/arr2.csv', "r", "Shift-JIS", "ignore") as file:
    df2 = pd.read_table(file, delimiter=",")

#print(df2)

reader = df2

#Create a dictionary from Pandas
#If you give a value or list/tuple to the character string with the% operator, it can be expanded as follows.
react={}
for row in reader:
        keytxt='%s-%s' % (row[1],row[2])
        
        react[keytxt]=1
        print(react)
print("react")

for sset in arr2:
    k2='%s-%s' % (sset[0],sset[1])
    if react.get(k2):
        print(k2)
print(k2)

{'n-n': 1}
{'n-n': 1, 'd-d': 1}
{'n-n': 1, 'd-d': 1, 'v-e': 1}
react

NameError: ignored

In [ ]:
mylist = [[0]*2 for i in range(3)]
print(mylist)

mylist1_1 = mylist
print(mylist1_1)
mylist1_1[2][1]=100
print(mylist1_1)

[[0, 0], [0, 0], [0, 0]]
[[0, 0], [0, 0], [0, 0]]
[[0, 0], [0, 0], [0, 100]]

In [ ]:
for i in range(3):
  for w in range(2):

   print(i)
   print(w)

0
0
0
1
1
0
1
1
2
0
2
1

In [ ]:

def Enter_data(a, b):
 for i in range(a):
  for w in range(b):
   print(w)
   print(i)


Enter_data(2, 3)

0
0
1
0
2
0
0
1
1
1
2
1

In [ ]:
Enter_data(2, 3)

0
0
1
0
2
0
0
1
1
1
2
1

In [ ]:
mylist2 = mylist

def Enter_data2(a, b):
 for i in range(a):
  for w in range(b):
   print(w,i)

   mylist2[w][0]=w
   mylist2[w][1]=w
   

  return mylist2

make_mylist = Enter_data2(2, 3)

print(make_mylist)

0 0
1 0
2 0
[[0, 0], [1, 1], [2, 2]]

In [ ]:
mylist2 = mylist

def Enter_data2(a, b,c,d):
 for i in range(a):
  for w in range(b):
   print(w,i)
   mylist2[w][0]=c
   mylist2[w][1]=d
  return mylist2

make_mylist = Enter_data2(2, 3,0,0)

print(make_mylist)

make_mylist = Enter_data2(2, 3,1,2)

print(make_mylist)

make_mylist = Enter_data2(2, 3,1,5)

print(make_mylist)

0 0
1 0
2 0
[[0, 0], [0, 0], [0, 0]]
0 0
1 0
2 0
[[1, 2], [1, 2], [1, 2]]
0 0
1 0
2 0
[[1, 5], [1, 5], [1, 5]]

In [ ]:
mylist2 = mylist
print(mylist2)
mylist2[1][0]=100
print(mylist2)
mylist3 = mylist
print(mylist3)

mylist4 = list(range(0,7))
print(mylist4)

for w in range(2):
  print(w)
  mylist3[0][w]=w
  print(mylist3)


for w in range(2):
  print(w)
  mylist3[w][0]=w
  print(mylist3)

[[0, 0], [1, 1], [2, 2]]
[[0, 0], [100, 1], [2, 2]]
[[0, 0], [100, 1], [2, 2]]
[0, 1, 2, 3, 4, 5, 6]
0
[[0, 0], [100, 1], [2, 2]]
1
[[0, 1], [100, 1], [2, 2]]
0
[[0, 1], [100, 1], [2, 2]]
1
[[0, 1], [1, 1], [2, 2]]

In [ ]:
lookback = 1

for i in range(len(mylist4)):
 j = 0 - lookback + i
 k = j + lookback
        
 mylist3[0][0] = mylist4[j]
 mylist3[0][1] = mylist4[k]

 print("tugihaXdayo")
 print(mylist3)
 print("tugihaYdayo")
 print(mylist3)

tugihaXdayo
[[6, 0], [1, 1], [2, 2]]
tugihaYdayo
[[6, 0], [1, 1], [2, 2]]
tugihaXdayo
[[0, 1], [1, 1], [2, 2]]
tugihaYdayo
[[0, 1], [1, 1], [2, 2]]
tugihaXdayo
[[1, 2], [1, 1], [2, 2]]
tugihaYdayo
[[1, 2], [1, 1], [2, 2]]
tugihaXdayo
[[2, 3], [1, 1], [2, 2]]
tugihaYdayo
[[2, 3], [1, 1], [2, 2]]
tugihaXdayo
[[3, 4], [1, 1], [2, 2]]
tugihaYdayo
[[3, 4], [1, 1], [2, 2]]
tugihaXdayo
[[4, 5], [1, 1], [2, 2]]
tugihaYdayo
[[4, 5], [1, 1], [2, 2]]
tugihaXdayo
[[5, 6], [1, 1], [2, 2]]
tugihaYdayo
[[5, 6], [1, 1], [2, 2]]

In [ ]:
lookback = 1

for i in range(len(mylist4)):
 j = i 
  
 mylist3[0][j] = mylist4[j-1]
 mylist3[0][j] = mylist4[j]
 mylist3[0][j] = mylist4[j]


 print("tugihaXdayo")
 print(mylist3)
 print("tugihaYdayo")
 print(mylist3)

tugihaXdayo
[[0, 1], [1, 1], [2, 2]]
tugihaYdayo
[[0, 1], [1, 1], [2, 2]]
tugihaXdayo
[[0, 1], [1, 1], [2, 2]]
tugihaYdayo
[[0, 1], [1, 1], [2, 2]]

IndexError: ignored