<a href="https://colab.research.google.com/github/dennkitotaichi/kabuka1/blob/master/20200708_make__Two_dimensional_array_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:

list2 = list(range(1,101))

odd = list(filter(lambda x: x%2 == 1, list2))
print("odd")
print(odd)

#Display even numbers
even = list(filter(lambda x: x%2 == 0, list2))
print("even")
print(even)

odd
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
even
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [5]:
import pandas as pd
import random
random.shuffle(odd)
print(odd)

random.shuffle(even)
print(even)

arr2 = []
for i, j in zip(odd, even):
    arr2.append([i, j])
print(arr2)
df = pd.DataFrame(arr2,
                  columns=['odd', 'even'])
print("arr2")
print(arr2)
print("df")
print(df)

df.to_csv(r'/content/drive/My Drive/arr2.csv', encoding = "shift-jis")

[5, 61, 73, 23, 47, 69, 67, 3, 37, 25, 63, 39, 91, 57, 1, 93, 99, 45, 51, 27, 9, 31, 35, 85, 53, 21, 59, 89, 75, 33, 43, 19, 29, 7, 17, 11, 65, 79, 77, 95, 83, 41, 87, 81, 55, 13, 49, 97, 15, 71]
[76, 18, 14, 2, 46, 26, 74, 34, 32, 70, 94, 80, 86, 58, 50, 12, 84, 64, 98, 96, 88, 24, 42, 30, 8, 6, 56, 66, 10, 38, 36, 82, 40, 22, 90, 16, 28, 78, 100, 72, 60, 52, 44, 54, 92, 20, 68, 48, 4, 62]
[[5, 76], [61, 18], [73, 14], [23, 2], [47, 46], [69, 26], [67, 74], [3, 34], [37, 32], [25, 70], [63, 94], [39, 80], [91, 86], [57, 58], [1, 50], [93, 12], [99, 84], [45, 64], [51, 98], [27, 96], [9, 88], [31, 24], [35, 42], [85, 30], [53, 8], [21, 6], [59, 56], [89, 66], [75, 10], [33, 38], [43, 36], [19, 82], [29, 40], [7, 22], [17, 90], [11, 16], [65, 28], [79, 78], [77, 100], [95, 72], [83, 60], [41, 52], [87, 44], [81, 54], [55, 92], [13, 20], [49, 68], [97, 48], [15, 4], [71, 62]]
arr2
[[5, 76], [61, 18], [73, 14], [23, 2], [47, 46], [69, 26], [67, 74], [3, 34], [37, 32], [25, 70], [63, 94], [39, 80], [91, 86], [57, 58], [1, 50], [93, 12], [99, 84], [45, 64], [51, 98], [27, 96], [9, 88], [31, 24], [35, 42], [85, 30], [53, 8], [21, 6], [59, 56], [89, 66], [75, 10], [33, 38], [43, 36], [19, 82], [29, 40], [7, 22], [17, 90], [11, 16], [65, 28], [79, 78], [77, 100], [95, 72], [83, 60], [41, 52], [87, 44], [81, 54], [55, 92], [13, 20], [49, 68], [97, 48], [15, 4], [71, 62]]
df
    odd  even
0     5    76
1    61    18
2    73    14
3    23     2
4    47    46
5    69    26
6    67    74
7     3    34
8    37    32
9    25    70
10   63    94
11   39    80
12   91    86
13   57    58
14    1    50
15   93    12
16   99    84
17   45    64
18   51    98
19   27    96
20    9    88
21   31    24
22   35    42
23   85    30
24   53     8
25   21     6
26   59    56
27   89    66
28   75    10
29   33    38
30   43    36
31   19    82
32   29    40
33    7    22
34   17    90
35   11    16
36   65    28
37   79    78
38   77   100
39   95    72
40   83    60
41   41    52
42   87    44
43   81    54
44   55    92
45   13    20
46   49    68
47   97    48
48   15     4
49   71    62

In [9]:
#During dictionary and key practice

#Variable i contains the first element of array arr2

react={}
for i in arr2:
        keytxt='%s-%s' % (i[0],i[1])
        
        react[keytxt]=1
        #print(react)
print("react")
print(react)

for sset in arr2:
    k2='%s-%s' % (sset[1],sset[0])
    if react.get(k2):
        print(k2)
print(k2)

react
{'5-76': 1, '61-18': 1, '73-14': 1, '23-2': 1, '47-46': 1, '69-26': 1, '67-74': 1, '3-34': 1, '37-32': 1, '25-70': 1, '63-94': 1, '39-80': 1, '91-86': 1, '57-58': 1, '1-50': 1, '93-12': 1, '99-84': 1, '45-64': 1, '51-98': 1, '27-96': 1, '9-88': 1, '31-24': 1, '35-42': 1, '85-30': 1, '53-8': 1, '21-6': 1, '59-56': 1, '89-66': 1, '75-10': 1, '33-38': 1, '43-36': 1, '19-82': 1, '29-40': 1, '7-22': 1, '17-90': 1, '11-16': 1, '65-28': 1, '79-78': 1, '77-100': 1, '95-72': 1, '83-60': 1, '41-52': 1, '87-44': 1, '81-54': 1, '55-92': 1, '13-20': 1, '49-68': 1, '97-48': 1, '15-4': 1, '71-62': 1}
62-71

In [34]:
import codecs
import pandas as pd

with codecs.open(r'/content/drive/My Drive/arr2.csv', "r", "Shift-JIS", "ignore") as file:
    df2 = pd.read_table(file, delimiter=",")

print(df2)

reader = df2

#Create a dictionary from Pandas
#If you give a value or list/tuple to the character string with the% operator, it can be expanded as follows.
react={}
for row in reader:
        keytxt='%s-%s' % (row[1],row[2])
        
        react[keytxt]=1
        print(react)
print("react")

for sset in arr2:
    k2='%s-%s' % (sset[0],sset[1])
    if react.get(k2):
        print(k2)
print(k2)

    Unnamed: 0  odd  even
0            0   43    36
1            1   13    60
2            2   77    32
3            3   31    10
4            4    5    70
5            5   69    82
6            6   23     2
7            7   65    74
8            8   63    16
9            9   33    92
10          10   55    46
11          11    7    24
12          12   11    96
13          13   57    78
14          14   83    26
15          15    1    84
16          16   41    66
17          17   51    98
18          18   15    48
19          19   47    22
20          20   81    38
21          21    3     8
22          22   27   100
23          23   25    68
24          24   35    12
25          25   19    56
26          26   85    14
27          27   71    50
28          28   93    28
29          29   91    58
30          30   61    64
31          31   87    62
32          32   21    30
33          33   67    20
34          34   17     4
35          35   79    90
36          36   75    86
37          37   59    54
38          38   95    88
39          39   73    44
40          40   89    42
41          41   97     6
42          42    9    52
43          43   99    76
44          44   53    40
45          45   29    80
46          46   37    94
47          47   39    18
48          48   49    34
49          49   45    72
{'n-n': 1}
{'n-n': 1, 'd-d': 1}
{'n-n': 1, 'd-d': 1, 'v-e': 1}
react
45-72

In [35]:
print(sset)

[45, 72]

In [31]:

import codecs
import pandas as pd

with codecs.open(r'/content/drive/My Drive/arr2.csv', "r", "Shift-JIS", "ignore") as file:
    df2 = pd.read_table(file, delimiter=",")

#print(df2)

reader = df2

print(arr2)

#Create a dictionary from Pandas
#If you give a value or list/tuple to the character string with the% operator, it can be expanded as follows.

#"row" is used when exporting Excel. Take out the parts separated by commas! !!
react={}
for arr2 in reader:
        keytxt='%s-%s' % (arr2[1],arr2[2])
        keytxt2='%s,waiawawaww,%s' % (arr2[1],arr2[2])
        print(keytxt2)
        react[keytxt]=1
        print(react)
print("react")

print(react)

print("keytxt")

print(keytxt)

print("keytxt2")

print(keytxt2)

for sset in arr2:
    k2='%s-%s' % (sset[1],sset[2])
    if react.get(k2):
        print(k2)
print("k2")

print(k2)

even
n,waiawawaww,n
{'n-n': 1}
d,waiawawaww,d
{'n-n': 1, 'd-d': 1}
v,waiawawaww,e
{'n-n': 1, 'd-d': 1, 'v-e': 1}
react
{'n-n': 1, 'd-d': 1, 'v-e': 1}
keytxt
v-e
keytxt2
v,waiawawaww,e

IndexError: ignored

In [32]:
import codecs
import pandas as pd

with codecs.open(r'/content/drive/My Drive/arr2.csv', "r", "Shift-JIS", "ignore") as file:
    df2 = pd.read_table(file, delimiter=",")

#print(df2)

reader = df2

#Create a dictionary from Pandas
#If you give a value or list/tuple to the character string with the% operator, it can be expanded as follows.
react={}
for row in reader:
        keytxt='%s-%s' % (row[1],row[2])
        
        react[keytxt]=1
        print(react)
print("react")

for sset in arr2:
    k2='%s-%s' % (sset[0],sset[1])
    if react.get(k2):
        print(k2)
print(k2)

{'n-n': 1}
{'n-n': 1, 'd-d': 1}
{'n-n': 1, 'd-d': 1, 'v-e': 1}
react

IndexError: ignored

In [ ]:
mylist = [[0]*2 for i in range(3)]
print(mylist)

mylist1_1 = mylist
print(mylist1_1)
mylist1_1[2][1]=100
print(mylist1_1)

[[0, 0], [0, 0], [0, 0]]
[[0, 0], [0, 0], [0, 0]]
[[0, 0], [0, 0], [0, 100]]

In [ ]:
for i in range(3):
  for w in range(2):

   print(i)
   print(w)

0
0
0
1
1
0
1
1
2
0
2
1

In [ ]:

def Enter_data(a, b):
 for i in range(a):
  for w in range(b):
   print(w)
   print(i)


Enter_data(2, 3)

0
0
1
0
2
0
0
1
1
1
2
1

In [ ]:
Enter_data(2, 3)

0
0
1
0
2
0
0
1
1
1
2
1

In [ ]:
mylist2 = mylist

def Enter_data2(a, b):
 for i in range(a):
  for w in range(b):
   print(w,i)

   mylist2[w][0]=w
   mylist2[w][1]=w
   

  return mylist2

make_mylist = Enter_data2(2, 3)

print(make_mylist)

0 0
1 0
2 0
[[0, 0], [1, 1], [2, 2]]

In [ ]:
mylist2 = mylist

def Enter_data2(a, b,c,d):
 for i in range(a):
  for w in range(b):
   print(w,i)
   mylist2[w][0]=c
   mylist2[w][1]=d
  return mylist2

make_mylist = Enter_data2(2, 3,0,0)

print(make_mylist)

make_mylist = Enter_data2(2, 3,1,2)

print(make_mylist)

make_mylist = Enter_data2(2, 3,1,5)

print(make_mylist)

0 0
1 0
2 0
[[0, 0], [0, 0], [0, 0]]
0 0
1 0
2 0
[[1, 2], [1, 2], [1, 2]]
0 0
1 0
2 0
[[1, 5], [1, 5], [1, 5]]

In [ ]:
mylist2 = mylist
print(mylist2)
mylist2[1][0]=100
print(mylist2)
mylist3 = mylist
print(mylist3)

mylist4 = list(range(0,7))
print(mylist4)

for w in range(2):
  print(w)
  mylist3[0][w]=w
  print(mylist3)


for w in range(2):
  print(w)
  mylist3[w][0]=w
  print(mylist3)

[[0, 0], [1, 1], [2, 2]]
[[0, 0], [100, 1], [2, 2]]
[[0, 0], [100, 1], [2, 2]]
[0, 1, 2, 3, 4, 5, 6]
0
[[0, 0], [100, 1], [2, 2]]
1
[[0, 1], [100, 1], [2, 2]]
0
[[0, 1], [100, 1], [2, 2]]
1
[[0, 1], [1, 1], [2, 2]]

In [ ]:
lookback = 1

for i in range(len(mylist4)):
 j = 0 - lookback + i
 k = j + lookback
        
 mylist3[0][0] = mylist4[j]
 mylist3[0][1] = mylist4[k]

 print("tugihaXdayo")
 print(mylist3)
 print("tugihaYdayo")
 print(mylist3)

tugihaXdayo
[[6, 0], [1, 1], [2, 2]]
tugihaYdayo
[[6, 0], [1, 1], [2, 2]]
tugihaXdayo
[[0, 1], [1, 1], [2, 2]]
tugihaYdayo
[[0, 1], [1, 1], [2, 2]]
tugihaXdayo
[[1, 2], [1, 1], [2, 2]]
tugihaYdayo
[[1, 2], [1, 1], [2, 2]]
tugihaXdayo
[[2, 3], [1, 1], [2, 2]]
tugihaYdayo
[[2, 3], [1, 1], [2, 2]]
tugihaXdayo
[[3, 4], [1, 1], [2, 2]]
tugihaYdayo
[[3, 4], [1, 1], [2, 2]]
tugihaXdayo
[[4, 5], [1, 1], [2, 2]]
tugihaYdayo
[[4, 5], [1, 1], [2, 2]]
tugihaXdayo
[[5, 6], [1, 1], [2, 2]]
tugihaYdayo
[[5, 6], [1, 1], [2, 2]]

In [ ]:
lookback = 1

for i in range(len(mylist4)):
 j = i 
  
 mylist3[0][j] = mylist4[j-1]
 mylist3[0][j] = mylist4[j]
 mylist3[0][j] = mylist4[j]


 print("tugihaXdayo")
 print(mylist3)
 print("tugihaYdayo")
 print(mylist3)

tugihaXdayo
[[0, 1], [1, 1], [2, 2]]
tugihaYdayo
[[0, 1], [1, 1], [2, 2]]
tugihaXdayo
[[0, 1], [1, 1], [2, 2]]
tugihaYdayo
[[0, 1], [1, 1], [2, 2]]

IndexError: ignored