<a href="https://colab.research.google.com/github/dennkitotaichi/kabuka1/blob/master/make__Two_dimensional_array_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:

list2 = list(range(1,101))

odd = list(filter(lambda x: x%2 == 1, list2))
print("odd")
print(odd)

#Display even numbers
even = list(filter(lambda x: x%2 == 0, list2))
print("even")
print(even)

odd
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
even
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [6]:
import pandas as pd
import random
random.shuffle(odd)
print(odd)

random.shuffle(even)
print(even)

arr2 = []
for i, j in zip(odd, even):
    arr2.append([i, j])
print(arr2)
df = pd.DataFrame(arr2,
                  columns=['odd', 'even'])
print(df)

df.to_csv(r'/content/drive/My Drive/arr2.csv', encoding = "shift-jis")

[53, 99, 25, 59, 41, 33, 19, 61, 65, 63, 69, 3, 85, 43, 75, 47, 15, 89, 7, 27, 23, 29, 79, 77, 17, 83, 57, 67, 21, 87, 1, 11, 97, 31, 5, 95, 37, 93, 13, 91, 39, 73, 35, 51, 45, 9, 71, 55, 49, 81]
[64, 92, 82, 58, 56, 88, 68, 62, 22, 70, 100, 94, 24, 6, 98, 42, 26, 78, 44, 36, 72, 50, 86, 84, 16, 52, 54, 38, 74, 2, 34, 10, 4, 12, 46, 8, 80, 40, 90, 48, 96, 60, 20, 66, 18, 14, 32, 30, 76, 28]
[[53, 64], [99, 92], [25, 82], [59, 58], [41, 56], [33, 88], [19, 68], [61, 62], [65, 22], [63, 70], [69, 100], [3, 94], [85, 24], [43, 6], [75, 98], [47, 42], [15, 26], [89, 78], [7, 44], [27, 36], [23, 72], [29, 50], [79, 86], [77, 84], [17, 16], [83, 52], [57, 54], [67, 38], [21, 74], [87, 2], [1, 34], [11, 10], [97, 4], [31, 12], [5, 46], [95, 8], [37, 80], [93, 40], [13, 90], [91, 48], [39, 96], [73, 60], [35, 20], [51, 66], [45, 18], [9, 14], [71, 32], [55, 30], [49, 76], [81, 28]]
    odd  even
0    53    64
1    99    92
2    25    82
3    59    58
4    41    56
5    33    88
6    19    68
7    61    62
8    65    22
9    63    70
10   69   100
11    3    94
12   85    24
13   43     6
14   75    98
15   47    42
16   15    26
17   89    78
18    7    44
19   27    36
20   23    72
21   29    50
22   79    86
23   77    84
24   17    16
25   83    52
26   57    54
27   67    38
28   21    74
29   87     2
30    1    34
31   11    10
32   97     4
33   31    12
34    5    46
35   95     8
36   37    80
37   93    40
38   13    90
39   91    48
40   39    96
41   73    60
42   35    20
43   51    66
44   45    18
45    9    14
46   71    32
47   55    30
48   49    76
49   81    28

In [10]:
import codecs
import pandas as pd

with codecs.open(r'/content/drive/My Drive/arr2.csv', "r", "Shift-JIS", "ignore") as file:
    df2 = pd.read_table(file, delimiter=",")

print(df2)

reader = df2

#Create a dictionary from Pandas
#If you give a value or list/tuple to the character string with the% operator, it can be expanded as follows.
react={}
for row in reader:
        keytxt='%s-%s' % (row[1],row[2])
        react[keytxt]=1
print(react)

for sset in arr2:
    k2='%s-%s' % (sset[0],sset[1])
    if react.get(k2):
        print(k2)
print(k2)

    Unnamed: 0  odd  even
0            0   53    64
1            1   99    92
2            2   25    82
3            3   59    58
4            4   41    56
5            5   33    88
6            6   19    68
7            7   61    62
8            8   65    22
9            9   63    70
10          10   69   100
11          11    3    94
12          12   85    24
13          13   43     6
14          14   75    98
15          15   47    42
16          16   15    26
17          17   89    78
18          18    7    44
19          19   27    36
20          20   23    72
21          21   29    50
22          22   79    86
23          23   77    84
24          24   17    16
25          25   83    52
26          26   57    54
27          27   67    38
28          28   21    74
29          29   87     2
30          30    1    34
31          31   11    10
32          32   97     4
33          33   31    12
34          34    5    46
35          35   95     8
36          36   37    80
37          37   93    40
38          38   13    90
39          39   91    48
40          40   39    96
41          41   73    60
42          42   35    20
43          43   51    66
44          44   45    18
45          45    9    14
46          46   71    32
47          47   55    30
48          48   49    76
49          49   81    28
{'n-n': 1, 'd-d': 1, 'v-e': 1}
81-28

In [ ]:
mylist = [[0]*2 for i in range(3)]
print(mylist)

mylist1_1 = mylist
print(mylist1_1)
mylist1_1[2][1]=100
print(mylist1_1)

[[0, 0], [0, 0], [0, 0]]
[[0, 0], [0, 0], [0, 0]]
[[0, 0], [0, 0], [0, 100]]

In [ ]:
for i in range(3):
  for w in range(2):

   print(i)
   print(w)

0
0
0
1
1
0
1
1
2
0
2
1

In [ ]:

def Enter_data(a, b):
 for i in range(a):
  for w in range(b):
   print(w)
   print(i)


Enter_data(2, 3)

0
0
1
0
2
0
0
1
1
1
2
1

In [ ]:
Enter_data(2, 3)

0
0
1
0
2
0
0
1
1
1
2
1

In [ ]:
mylist2 = mylist

def Enter_data2(a, b):
 for i in range(a):
  for w in range(b):
   print(w,i)

   mylist2[w][0]=w
   mylist2[w][1]=w
   

  return mylist2

make_mylist = Enter_data2(2, 3)

print(make_mylist)

0 0
1 0
2 0
[[0, 0], [1, 1], [2, 2]]

In [ ]:
mylist2 = mylist

def Enter_data2(a, b,c,d):
 for i in range(a):
  for w in range(b):
   print(w,i)
   mylist2[w][0]=c
   mylist2[w][1]=d
  return mylist2

make_mylist = Enter_data2(2, 3,0,0)

print(make_mylist)

make_mylist = Enter_data2(2, 3,1,2)

print(make_mylist)

make_mylist = Enter_data2(2, 3,1,5)

print(make_mylist)

0 0
1 0
2 0
[[0, 0], [0, 0], [0, 0]]
0 0
1 0
2 0
[[1, 2], [1, 2], [1, 2]]
0 0
1 0
2 0
[[1, 5], [1, 5], [1, 5]]

In [ ]:
mylist2 = mylist
print(mylist2)
mylist2[1][0]=100
print(mylist2)
mylist3 = mylist
print(mylist3)

mylist4 = list(range(0,7))
print(mylist4)

for w in range(2):
  print(w)
  mylist3[0][w]=w
  print(mylist3)


for w in range(2):
  print(w)
  mylist3[w][0]=w
  print(mylist3)

[[0, 0], [1, 1], [2, 2]]
[[0, 0], [100, 1], [2, 2]]
[[0, 0], [100, 1], [2, 2]]
[0, 1, 2, 3, 4, 5, 6]
0
[[0, 0], [100, 1], [2, 2]]
1
[[0, 1], [100, 1], [2, 2]]
0
[[0, 1], [100, 1], [2, 2]]
1
[[0, 1], [1, 1], [2, 2]]

In [ ]:
lookback = 1

for i in range(len(mylist4)):
 j = 0 - lookback + i
 k = j + lookback
        
 mylist3[0][0] = mylist4[j]
 mylist3[0][1] = mylist4[k]

 print("tugihaXdayo")
 print(mylist3)
 print("tugihaYdayo")
 print(mylist3)

tugihaXdayo
[[6, 0], [1, 1], [2, 2]]
tugihaYdayo
[[6, 0], [1, 1], [2, 2]]
tugihaXdayo
[[0, 1], [1, 1], [2, 2]]
tugihaYdayo
[[0, 1], [1, 1], [2, 2]]
tugihaXdayo
[[1, 2], [1, 1], [2, 2]]
tugihaYdayo
[[1, 2], [1, 1], [2, 2]]
tugihaXdayo
[[2, 3], [1, 1], [2, 2]]
tugihaYdayo
[[2, 3], [1, 1], [2, 2]]
tugihaXdayo
[[3, 4], [1, 1], [2, 2]]
tugihaYdayo
[[3, 4], [1, 1], [2, 2]]
tugihaXdayo
[[4, 5], [1, 1], [2, 2]]
tugihaYdayo
[[4, 5], [1, 1], [2, 2]]
tugihaXdayo
[[5, 6], [1, 1], [2, 2]]
tugihaYdayo
[[5, 6], [1, 1], [2, 2]]

In [ ]:
lookback = 1

for i in range(len(mylist4)):
 j = i 
  
 mylist3[0][j] = mylist4[j-1]
 mylist3[0][j] = mylist4[j]
 mylist3[0][j] = mylist4[j]


 print("tugihaXdayo")
 print(mylist3)
 print("tugihaYdayo")
 print(mylist3)

tugihaXdayo
[[0, 1], [1, 1], [2, 2]]
tugihaYdayo
[[0, 1], [1, 1], [2, 2]]
tugihaXdayo
[[0, 1], [1, 1], [2, 2]]
tugihaYdayo
[[0, 1], [1, 1], [2, 2]]

IndexError: ignored