<a href="https://colab.research.google.com/github/dennkitotaichi/kabuka1/blob/master/make__Two_dimensional_array_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:

list2 = list(range(1,101))

odd = list(filter(lambda x: x%2 == 1, list2))
print("odd")
print(odd)

#Display even numbers
even = list(filter(lambda x: x%2 == 0, list2))
print("even")
print(even)

odd
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
even
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [17]:
import pandas as pd
import random
random.shuffle(odd)
print(odd)

random.shuffle(even)
print(even)

arr2 = []
for i, j in zip(odd, even):
    arr2.append([i, j])
print(arr2)
df = pd.DataFrame(arr2,
                  columns=['odd', 'even'])
print(df)

df.to_csv(r'/content/drive/My Drive/arr2.csv', encoding = "shift-jis")

[9, 59, 15, 91, 75, 3, 37, 13, 29, 63, 55, 49, 95, 51, 83, 21, 93, 79, 53, 85, 77, 5, 17, 81, 35, 71, 7, 43, 61, 19, 45, 23, 47, 1, 67, 11, 31, 89, 69, 65, 33, 25, 99, 41, 57, 97, 27, 87, 73, 39]
[36, 16, 58, 12, 86, 38, 56, 48, 76, 22, 68, 88, 96, 14, 54, 90, 42, 34, 66, 28, 4, 40, 20, 64, 70, 10, 26, 80, 100, 94, 50, 24, 60, 82, 84, 72, 30, 44, 2, 62, 6, 52, 78, 18, 46, 92, 32, 74, 98, 8]
[[9, 36], [59, 16], [15, 58], [91, 12], [75, 86], [3, 38], [37, 56], [13, 48], [29, 76], [63, 22], [55, 68], [49, 88], [95, 96], [51, 14], [83, 54], [21, 90], [93, 42], [79, 34], [53, 66], [85, 28], [77, 4], [5, 40], [17, 20], [81, 64], [35, 70], [71, 10], [7, 26], [43, 80], [61, 100], [19, 94], [45, 50], [23, 24], [47, 60], [1, 82], [67, 84], [11, 72], [31, 30], [89, 44], [69, 2], [65, 62], [33, 6], [25, 52], [99, 78], [41, 18], [57, 46], [97, 92], [27, 32], [87, 74], [73, 98], [39, 8]]
    odd  even
0     9    36
1    59    16
2    15    58
3    91    12
4    75    86
5     3    38
6    37    56
7    13    48
8    29    76
9    63    22
10   55    68
11   49    88
12   95    96
13   51    14
14   83    54
15   21    90
16   93    42
17   79    34
18   53    66
19   85    28
20   77     4
21    5    40
22   17    20
23   81    64
24   35    70
25   71    10
26    7    26
27   43    80
28   61   100
29   19    94
30   45    50
31   23    24
32   47    60
33    1    82
34   67    84
35   11    72
36   31    30
37   89    44
38   69     2
39   65    62
40   33     6
41   25    52
42   99    78
43   41    18
44   57    46
45   97    92
46   27    32
47   87    74
48   73    98
49   39     8

In [20]:
import codecs

with codecs.open(r'/content/drive/My Drive/arr2.csv', "r", "Shift-JIS", "ignore") as file:
    df2 = pd.read_table(file, delimiter=",")

print(df2)

    Unnamed: 0  odd  even
0            0    9    36
1            1   59    16
2            2   15    58
3            3   91    12
4            4   75    86
5            5    3    38
6            6   37    56
7            7   13    48
8            8   29    76
9            9   63    22
10          10   55    68
11          11   49    88
12          12   95    96
13          13   51    14
14          14   83    54
15          15   21    90
16          16   93    42
17          17   79    34
18          18   53    66
19          19   85    28
20          20   77     4
21          21    5    40
22          22   17    20
23          23   81    64
24          24   35    70
25          25   71    10
26          26    7    26
27          27   43    80
28          28   61   100
29          29   19    94
30          30   45    50
31          31   23    24
32          32   47    60
33          33    1    82
34          34   67    84
35          35   11    72
36          36   31    30
37          37   89    44
38          38   69     2
39          39   65    62
40          40   33     6
41          41   25    52
42          42   99    78
43          43   41    18
44          44   57    46
45          45   97    92
46          46   27    32
47          47   87    74
48          48   73    98
49          49   39     8

In [ ]:
mylist = [[0]*2 for i in range(3)]
print(mylist)

mylist1_1 = mylist
print(mylist1_1)
mylist1_1[2][1]=100
print(mylist1_1)

[[0, 0], [0, 0], [0, 0]]
[[0, 0], [0, 0], [0, 0]]
[[0, 0], [0, 0], [0, 100]]

In [ ]:
for i in range(3):
  for w in range(2):

   print(i)
   print(w)

0
0
0
1
1
0
1
1
2
0
2
1

In [ ]:

def Enter_data(a, b):
 for i in range(a):
  for w in range(b):
   print(w)
   print(i)


Enter_data(2, 3)

0
0
1
0
2
0
0
1
1
1
2
1

In [ ]:
Enter_data(2, 3)

0
0
1
0
2
0
0
1
1
1
2
1

In [ ]:
mylist2 = mylist

def Enter_data2(a, b):
 for i in range(a):
  for w in range(b):
   print(w,i)

   mylist2[w][0]=w
   mylist2[w][1]=w
   

  return mylist2

make_mylist = Enter_data2(2, 3)

print(make_mylist)

0 0
1 0
2 0
[[0, 0], [1, 1], [2, 2]]

In [ ]:
mylist2 = mylist

def Enter_data2(a, b,c,d):
 for i in range(a):
  for w in range(b):
   print(w,i)
   mylist2[w][0]=c
   mylist2[w][1]=d
  return mylist2

make_mylist = Enter_data2(2, 3,0,0)

print(make_mylist)

make_mylist = Enter_data2(2, 3,1,2)

print(make_mylist)

make_mylist = Enter_data2(2, 3,1,5)

print(make_mylist)

0 0
1 0
2 0
[[0, 0], [0, 0], [0, 0]]
0 0
1 0
2 0
[[1, 2], [1, 2], [1, 2]]
0 0
1 0
2 0
[[1, 5], [1, 5], [1, 5]]

In [ ]:
mylist2 = mylist
print(mylist2)
mylist2[1][0]=100
print(mylist2)
mylist3 = mylist
print(mylist3)

mylist4 = list(range(0,7))
print(mylist4)

for w in range(2):
  print(w)
  mylist3[0][w]=w
  print(mylist3)


for w in range(2):
  print(w)
  mylist3[w][0]=w
  print(mylist3)

[[0, 0], [1, 1], [2, 2]]
[[0, 0], [100, 1], [2, 2]]
[[0, 0], [100, 1], [2, 2]]
[0, 1, 2, 3, 4, 5, 6]
0
[[0, 0], [100, 1], [2, 2]]
1
[[0, 1], [100, 1], [2, 2]]
0
[[0, 1], [100, 1], [2, 2]]
1
[[0, 1], [1, 1], [2, 2]]

In [ ]:
lookback = 1

for i in range(len(mylist4)):
 j = 0 - lookback + i
 k = j + lookback
        
 mylist3[0][0] = mylist4[j]
 mylist3[0][1] = mylist4[k]

 print("tugihaXdayo")
 print(mylist3)
 print("tugihaYdayo")
 print(mylist3)

tugihaXdayo
[[6, 0], [1, 1], [2, 2]]
tugihaYdayo
[[6, 0], [1, 1], [2, 2]]
tugihaXdayo
[[0, 1], [1, 1], [2, 2]]
tugihaYdayo
[[0, 1], [1, 1], [2, 2]]
tugihaXdayo
[[1, 2], [1, 1], [2, 2]]
tugihaYdayo
[[1, 2], [1, 1], [2, 2]]
tugihaXdayo
[[2, 3], [1, 1], [2, 2]]
tugihaYdayo
[[2, 3], [1, 1], [2, 2]]
tugihaXdayo
[[3, 4], [1, 1], [2, 2]]
tugihaYdayo
[[3, 4], [1, 1], [2, 2]]
tugihaXdayo
[[4, 5], [1, 1], [2, 2]]
tugihaYdayo
[[4, 5], [1, 1], [2, 2]]
tugihaXdayo
[[5, 6], [1, 1], [2, 2]]
tugihaYdayo
[[5, 6], [1, 1], [2, 2]]

In [ ]:
lookback = 1

for i in range(len(mylist4)):
 j = i 
  
 mylist3[0][j] = mylist4[j-1]
 mylist3[0][j] = mylist4[j]
 mylist3[0][j] = mylist4[j]


 print("tugihaXdayo")
 print(mylist3)
 print("tugihaYdayo")
 print(mylist3)

tugihaXdayo
[[0, 1], [1, 1], [2, 2]]
tugihaYdayo
[[0, 1], [1, 1], [2, 2]]
tugihaXdayo
[[0, 1], [1, 1], [2, 2]]
tugihaYdayo
[[0, 1], [1, 1], [2, 2]]

IndexError: ignored