<a href="https://colab.research.google.com/github/dennkitotaichi/kabuka1/blob/master/make__Two_dimensional_array_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

list2 = list(range(1,101))

odd = list(filter(lambda x: x%2 == 1, list2))
print("odd")
print(odd)

#Display even numbers
even = list(filter(lambda x: x%2 == 0, list2))
print("even")
print(even)

odd
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
even
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
mylist = [[0]*2 for i in range(3)]
print(mylist)

mylist1_1 = mylist
print(mylist1_1)
mylist1_1[2][1]=100
print(mylist1_1)

[[0, 0], [0, 0], [0, 0]]
[[0, 0], [0, 0], [0, 0]]
[[0, 0], [0, 0], [0, 100]]

In [ ]:
for i in range(3):
  for w in range(2):

   print(i)
   print(w)

0
0
0
1
1
0
1
1
2
0
2
1

In [ ]:

def Enter_data(a, b):
 for i in range(a):
  for w in range(b):
   print(w)
   print(i)


Enter_data(2, 3)

0
0
1
0
2
0
0
1
1
1
2
1

In [ ]:
Enter_data(2, 3)

0
0
1
0
2
0
0
1
1
1
2
1

In [ ]:
mylist2 = mylist

def Enter_data2(a, b):
 for i in range(a):
  for w in range(b):
   print(w,i)

   mylist2[w][0]=w
   mylist2[w][1]=w
   

  return mylist2

make_mylist = Enter_data2(2, 3)

print(make_mylist)

0 0
1 0
2 0
[[0, 0], [1, 1], [2, 2]]

In [ ]:
mylist2 = mylist

def Enter_data2(a, b,c,d):
 for i in range(a):
  for w in range(b):
   print(w,i)
   mylist2[w][0]=c
   mylist2[w][1]=d
  return mylist2

make_mylist = Enter_data2(2, 3,0,0)

print(make_mylist)

make_mylist = Enter_data2(2, 3,1,2)

print(make_mylist)

make_mylist = Enter_data2(2, 3,1,5)

print(make_mylist)

0 0
1 0
2 0
[[0, 0], [0, 0], [0, 0]]
0 0
1 0
2 0
[[1, 2], [1, 2], [1, 2]]
0 0
1 0
2 0
[[1, 5], [1, 5], [1, 5]]

In [ ]:
mylist2 = mylist
print(mylist2)
mylist2[1][0]=100
print(mylist2)
mylist3 = mylist
print(mylist3)

mylist4 = list(range(0,7))
print(mylist4)

for w in range(2):
  print(w)
  mylist3[0][w]=w
  print(mylist3)


for w in range(2):
  print(w)
  mylist3[w][0]=w
  print(mylist3)

[[0, 0], [1, 1], [2, 2]]
[[0, 0], [100, 1], [2, 2]]
[[0, 0], [100, 1], [2, 2]]
[0, 1, 2, 3, 4, 5, 6]
0
[[0, 0], [100, 1], [2, 2]]
1
[[0, 1], [100, 1], [2, 2]]
0
[[0, 1], [100, 1], [2, 2]]
1
[[0, 1], [1, 1], [2, 2]]

In [ ]:
lookback = 1

for i in range(len(mylist4)):
 j = 0 - lookback + i
 k = j + lookback
        
 mylist3[0][0] = mylist4[j]
 mylist3[0][1] = mylist4[k]

 print("tugihaXdayo")
 print(mylist3)
 print("tugihaYdayo")
 print(mylist3)

tugihaXdayo
[[6, 0], [1, 1], [2, 2]]
tugihaYdayo
[[6, 0], [1, 1], [2, 2]]
tugihaXdayo
[[0, 1], [1, 1], [2, 2]]
tugihaYdayo
[[0, 1], [1, 1], [2, 2]]
tugihaXdayo
[[1, 2], [1, 1], [2, 2]]
tugihaYdayo
[[1, 2], [1, 1], [2, 2]]
tugihaXdayo
[[2, 3], [1, 1], [2, 2]]
tugihaYdayo
[[2, 3], [1, 1], [2, 2]]
tugihaXdayo
[[3, 4], [1, 1], [2, 2]]
tugihaYdayo
[[3, 4], [1, 1], [2, 2]]
tugihaXdayo
[[4, 5], [1, 1], [2, 2]]
tugihaYdayo
[[4, 5], [1, 1], [2, 2]]
tugihaXdayo
[[5, 6], [1, 1], [2, 2]]
tugihaYdayo
[[5, 6], [1, 1], [2, 2]]

In [ ]:
lookback = 1

for i in range(len(mylist4)):
 j = i 
  
 mylist3[0][j] = mylist4[j-1]
 mylist3[0][j] = mylist4[j]
 mylist3[0][j] = mylist4[j]


 print("tugihaXdayo")
 print(mylist3)
 print("tugihaYdayo")
 print(mylist3)

tugihaXdayo
[[0, 1], [1, 1], [2, 2]]
tugihaYdayo
[[0, 1], [1, 1], [2, 2]]
tugihaXdayo
[[0, 1], [1, 1], [2, 2]]
tugihaYdayo
[[0, 1], [1, 1], [2, 2]]

IndexError: ignored