<a href="https://colab.research.google.com/github/dennkitotaichi/kabuka1/blob/master/make__Two_dimensional_array_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

list2 = list(range(1,101))

odd = list(filter(lambda x: x%2 == 1, list2))
print("odd")
print(odd)

#Display even numbers
even = list(filter(lambda x: x%2 == 0, list2))
print("even")
print(even)

odd
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
even
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
import pandas as pd
import random
random.shuffle(odd)
print(odd)

random.shuffle(even)
print(even)

arr2 = []
for i, j in zip(odd, even):
    arr2.append([i, j])
print(arr2)
df = pd.DataFrame(arr2,
                  columns=['odd', 'even'])
print(df)

df.to_csv(r'/content/drive/My Drive/arr2.csv', encoding = "shift-jis")

[55, 19, 87, 51, 49, 17, 39, 47, 27, 1, 79, 91, 33, 77, 57, 23, 73, 41, 37, 43, 11, 67, 81, 63, 35, 97, 61, 65, 21, 93, 59, 69, 13, 89, 5, 31, 45, 7, 15, 29, 99, 83, 53, 75, 3, 95, 71, 9, 85, 25]
[10, 46, 18, 66, 70, 56, 4, 14, 54, 38, 62, 90, 42, 58, 28, 88, 32, 84, 78, 2, 6, 24, 76, 86, 34, 74, 98, 8, 22, 44, 12, 92, 30, 52, 40, 48, 82, 96, 80, 50, 100, 20, 72, 36, 94, 64, 68, 16, 60, 26]
[[55, 10], [19, 46], [87, 18], [51, 66], [49, 70], [17, 56], [39, 4], [47, 14], [27, 54], [1, 38], [79, 62], [91, 90], [33, 42], [77, 58], [57, 28], [23, 88], [73, 32], [41, 84], [37, 78], [43, 2], [11, 6], [67, 24], [81, 76], [63, 86], [35, 34], [97, 74], [61, 98], [65, 8], [21, 22], [93, 44], [59, 12], [69, 92], [13, 30], [89, 52], [5, 40], [31, 48], [45, 82], [7, 96], [15, 80], [29, 50], [99, 100], [83, 20], [53, 72], [75, 36], [3, 94], [95, 64], [71, 68], [9, 16], [85, 60], [25, 26]]
    odd  even
0    55    10
1    19    46
2    87    18
3    51    66
4    49    70
5    17    56
6    39     4
7    47    14
8    27    54
9     1    38
10   79    62
11   91    90
12   33    42
13   77    58
14   57    28
15   23    88
16   73    32
17   41    84
18   37    78
19   43     2
20   11     6
21   67    24
22   81    76
23   63    86
24   35    34
25   97    74
26   61    98
27   65     8
28   21    22
29   93    44
30   59    12
31   69    92
32   13    30
33   89    52
34    5    40
35   31    48
36   45    82
37    7    96
38   15    80
39   29    50
40   99   100
41   83    20
42   53    72
43   75    36
44    3    94
45   95    64
46   71    68
47    9    16
48   85    60
49   25    26

In [ ]:
import codecs
import pandas as pd

with codecs.open(r'/content/drive/My Drive/arr2.csv', "r", "Shift-JIS", "ignore") as file:
    df2 = pd.read_table(file, delimiter=",")

print(df2)

reader = df2

#Create a dictionary from Pandas
#If you give a value or list/tuple to the character string with the% operator, it can be expanded as follows.
react={}
for row in reader:
        keytxt='%s-%s' % (row[1],row[2])
        
        react[keytxt]=1
        print(react)
print("react")

for sset in arr2:
    k2='%s-%s' % (sset[0],sset[1])
    if react.get(k2):
        print(k2)
print(k2)

    Unnamed: 0  odd  even
0            0   55    10
1            1   19    46
2            2   87    18
3            3   51    66
4            4   49    70
5            5   17    56
6            6   39     4
7            7   47    14
8            8   27    54
9            9    1    38
10          10   79    62
11          11   91    90
12          12   33    42
13          13   77    58
14          14   57    28
15          15   23    88
16          16   73    32
17          17   41    84
18          18   37    78
19          19   43     2
20          20   11     6
21          21   67    24
22          22   81    76
23          23   63    86
24          24   35    34
25          25   97    74
26          26   61    98
27          27   65     8
28          28   21    22
29          29   93    44
30          30   59    12
31          31   69    92
32          32   13    30
33          33   89    52
34          34    5    40
35          35   31    48
36          36   45    82
37          37    7    96
38          38   15    80
39          39   29    50
40          40   99   100
41          41   83    20
42          42   53    72
43          43   75    36
44          44    3    94
45          45   95    64
46          46   71    68
47          47    9    16
48          48   85    60
49          49   25    26
{'n-n': 1}
{'n-n': 1, 'd-d': 1}
{'n-n': 1, 'd-d': 1, 'v-e': 1}
react
25-26

In [ ]:
mylist = [[0]*2 for i in range(3)]
print(mylist)

mylist1_1 = mylist
print(mylist1_1)
mylist1_1[2][1]=100
print(mylist1_1)

[[0, 0], [0, 0], [0, 0]]
[[0, 0], [0, 0], [0, 0]]
[[0, 0], [0, 0], [0, 100]]

In [ ]:
for i in range(3):
  for w in range(2):

   print(i)
   print(w)

0
0
0
1
1
0
1
1
2
0
2
1

In [ ]:

def Enter_data(a, b):
 for i in range(a):
  for w in range(b):
   print(w)
   print(i)


Enter_data(2, 3)

0
0
1
0
2
0
0
1
1
1
2
1

In [ ]:
Enter_data(2, 3)

0
0
1
0
2
0
0
1
1
1
2
1

In [ ]:
mylist2 = mylist

def Enter_data2(a, b):
 for i in range(a):
  for w in range(b):
   print(w,i)

   mylist2[w][0]=w
   mylist2[w][1]=w
   

  return mylist2

make_mylist = Enter_data2(2, 3)

print(make_mylist)

0 0
1 0
2 0
[[0, 0], [1, 1], [2, 2]]

In [ ]:
mylist2 = mylist

def Enter_data2(a, b,c,d):
 for i in range(a):
  for w in range(b):
   print(w,i)
   mylist2[w][0]=c
   mylist2[w][1]=d
  return mylist2

make_mylist = Enter_data2(2, 3,0,0)

print(make_mylist)

make_mylist = Enter_data2(2, 3,1,2)

print(make_mylist)

make_mylist = Enter_data2(2, 3,1,5)

print(make_mylist)

0 0
1 0
2 0
[[0, 0], [0, 0], [0, 0]]
0 0
1 0
2 0
[[1, 2], [1, 2], [1, 2]]
0 0
1 0
2 0
[[1, 5], [1, 5], [1, 5]]

In [ ]:
mylist2 = mylist
print(mylist2)
mylist2[1][0]=100
print(mylist2)
mylist3 = mylist
print(mylist3)

mylist4 = list(range(0,7))
print(mylist4)

for w in range(2):
  print(w)
  mylist3[0][w]=w
  print(mylist3)


for w in range(2):
  print(w)
  mylist3[w][0]=w
  print(mylist3)

[[0, 0], [1, 1], [2, 2]]
[[0, 0], [100, 1], [2, 2]]
[[0, 0], [100, 1], [2, 2]]
[0, 1, 2, 3, 4, 5, 6]
0
[[0, 0], [100, 1], [2, 2]]
1
[[0, 1], [100, 1], [2, 2]]
0
[[0, 1], [100, 1], [2, 2]]
1
[[0, 1], [1, 1], [2, 2]]

In [ ]:
lookback = 1

for i in range(len(mylist4)):
 j = 0 - lookback + i
 k = j + lookback
        
 mylist3[0][0] = mylist4[j]
 mylist3[0][1] = mylist4[k]

 print("tugihaXdayo")
 print(mylist3)
 print("tugihaYdayo")
 print(mylist3)

tugihaXdayo
[[6, 0], [1, 1], [2, 2]]
tugihaYdayo
[[6, 0], [1, 1], [2, 2]]
tugihaXdayo
[[0, 1], [1, 1], [2, 2]]
tugihaYdayo
[[0, 1], [1, 1], [2, 2]]
tugihaXdayo
[[1, 2], [1, 1], [2, 2]]
tugihaYdayo
[[1, 2], [1, 1], [2, 2]]
tugihaXdayo
[[2, 3], [1, 1], [2, 2]]
tugihaYdayo
[[2, 3], [1, 1], [2, 2]]
tugihaXdayo
[[3, 4], [1, 1], [2, 2]]
tugihaYdayo
[[3, 4], [1, 1], [2, 2]]
tugihaXdayo
[[4, 5], [1, 1], [2, 2]]
tugihaYdayo
[[4, 5], [1, 1], [2, 2]]
tugihaXdayo
[[5, 6], [1, 1], [2, 2]]
tugihaYdayo
[[5, 6], [1, 1], [2, 2]]

In [ ]:
lookback = 1

for i in range(len(mylist4)):
 j = i 
  
 mylist3[0][j] = mylist4[j-1]
 mylist3[0][j] = mylist4[j]
 mylist3[0][j] = mylist4[j]


 print("tugihaXdayo")
 print(mylist3)
 print("tugihaYdayo")
 print(mylist3)

tugihaXdayo
[[0, 1], [1, 1], [2, 2]]
tugihaYdayo
[[0, 1], [1, 1], [2, 2]]
tugihaXdayo
[[0, 1], [1, 1], [2, 2]]
tugihaYdayo
[[0, 1], [1, 1], [2, 2]]

IndexError: ignored